.button {
	-fx-background-color: transparent;
	-fx-background-radius: 15px;
	-fx-pref-width: 100%;
	-fx-max-width: 330px;
	-fx-pref-height: 50px;
	-fx-max-height: 100px;
	-fx-font-size: 50px;
	-fx-font-weight: bold;
	-fx-text-fill: rgb(250,250,250);
	-fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 3, 3);
}


.button:hover{
	-fx-background-color: rgb(200,200,200, 0.2);
	-fx-text-fill: rgb(0,200,200);
}

.button:pressed{
	-fx-background-color: rgb(160,160,160, 0.5);
	-fx-text-fill: rgb(0,230,230);
	-fx-effect: dropshadow(one-pass-box, black, 5, 0.5, 10, 3 );
}